.row {
	/* border: 1px dotted red; */
}

.carouselBackground {
	/* border: 1px solid blue; */
	/* background-image: url('https://picsum.photos/1200/400'); */
	background-size: cover;
	background-position: center;
	min-height: 200px;
}

.textContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
