.carouselBackground {
	background-size: cover;
	background-position: center;
	min-height: 200px;
}

.textContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projectRow {
	display: flex;
	flex-wrap: wrap-reverse;
	margin-right: -0.75rem;
	margin-left: -0.75rem;
}
