.row {
	/* border: 1px dotted red; */
}

.experienceCarouselBackground {
	/* border: 1px solid blue; */
	/* background-image: url('https://picsum.photos/1200/400'); */
	background-size: cover;
	background-position: center;
	min-height: 200px;
}

.experienceText {
	background-color: silver;
	color: #fff;
}
